<h3>Search the movie db</h3>

<%= form_tag(movies_path) do %>
  <%= label_tag('Search the database') %>
  <%= search_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>
<hr>



<%#= debug params %>

<%#= image_tag(@poster, class: "img-poster") %>

<table class="table-movie">
  

  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>



  <% @response.each do |key, value| %>
  <tr>
    <td><%= key %></td>
    <td><%= value %></td>
  </tr>
<% end %>
 
  
</table>



