<h3>Search the movie db</h3>

<%= form_tag(movies_path) do %>
  <%= label_tag('Search the database') %>
  <%= search_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>
<hr>



<%#= debug params %>

<%#= image_tag(@poster, class: "img-poster") %>

  
<ul>
  <% @response.values_at("Search")[0].each do |value| %>
    <li><%= link_to value["Title"], show_movie_path(title: value["Title"]) %></li>
  <% end %>
</ul>





<!-- 
<p><strong>City:</strong> <%#= @city.values_at("info")[0]["city"]["name"] %></p>
<p><strong>Country:</strong> <%#= @city.values_at("info")[0]["country"]["name"] %></p>
<p><strong>Region:</strong> <%#= @city.values_at("info")[0]["region"]["name"] %></p>

<strong>Weather:</strong> <%# @city.values_at("info")[0]["weather"].each do |key, value| %>
<p>
  <%#= key %>
  <%#= value %>
</p>

<%# end %>

<p><strong>People:</strong> <%#= @city.values_at("people")[0]["checkins"] %></p>
<p><strong>Nomadscore:</strong> <%#= @city.values_at("scores")[0]["nomadScore"] %></p>

<strong>Cost:</strong> <%#= @city.values_at("cost").each do |key, value| %>
  <%#= key %> 
  <%#= value %>
<%# end %>



 -->